<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Loading demo from server</title>
</head>

<body>
    <div>
        <h1>Welcome</h1>
        <p>
            Please
            <a href="/login">log in</a>
        </p>
        <p>
            Signup
            <a href="/signup">signup</a>
        </p>
    </div>

</body>

</html>