<!DOCTYPE html>
<html>

<head>
    <title>Loading demo from server</title>
</head>

<body>
    <div>
        <h1>Hi {{user.username}}</h1>
        <p>

            <a href="/logout">log out</a>

        </p>
    </div>
</body>

</html>